# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build
dist
dist-ssr
*.local

# production
/build
/build-dev
/build-prod
/build-qa

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


#model
modelisimo/src/data/__pychache__/*
modelisimo/src/evaluation/__pychache__/*
modelisimo/src/model/__pychache__/*